
/* .deleteHolder{
    display: flex;
    justify-content: center;
} */

.redWarning{
    color: red;
    font-weight: bold;
    border: 1px solid black;
    margin-right: 3rem;
    margin-left: 5px;
    margin-top: 5px;
    background-color: white;
    height: 1.6rem;
    font-size: 18px;
    width: 8rem;
}

.redWarning:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}

.deleteButtonWrapper{
    border: 2px black solid;
    background-color: white;
    height: 10rem;
    width: 21rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* border-radius: 5px; */
    align-items: center;
}
.deleteWarning{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    word-wrap: break-word;
}
.finalDelete{
    margin-top: 10px;
    font-size: 1.2rem;
    height:2rem;
    width: 6rem;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
}
.finalDelete:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}
.cancelDelete{
    /* margin-top: 10px; */
    font-size: 1.2rem;
    height:2rem;
    width: 6rem;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
}
.cancelDelete:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}
