/* .cardHolder{
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1rem;
    background-color: white;
    height: 100%;
    padding-bottom: 250px;
    margin-bottom: 10px;
} */
.cardHolder{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}
a{
    text-decoration: none;
}
/* .card{
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
} */
.card{
    height: 20rem;
    width: 22rem;
    margin-right: auto;
    margin-left: auto;
}
.cardImage{
    height: 70%;

}
.cardImage img{
    height: 100%;
    width: 100%;
    border-radius: 7%;
}

/* .cardInfo{
    padding-top: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
    color: black;
    text-decoration: none;
    margin-bottom: 50px;
} */
.cardInfo{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
}
.cardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardTitle div:first-child{
    margin-left: 15px;
    font-weight: bold;
}
.cardTitle div:last-child{
    margin-right: 15px;
}

#addCardLeftMargin{
    margin-left: 15px;
}
.cardPrice{
    font-weight: bold;
}
