.cardHolder{
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 1rem;
    background-color: white;
    height: 100%;
    padding-bottom: 250px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}
.card{
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.cardImage{
    height: 70%;

}
.cardImage img{
    height: 100%;
    width: 100%;
    border-radius: 7%;
}

.cardInfo{
    padding-top: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
    color: black;
    text-decoration: none;

}

.location-rating{
    display: flex;
    justify-content: space-between;
    text-decoration: none;

}
.cardPrice{
    font-weight: bold;
}
