.formWrapper{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 100px; */
}

.title{
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
}
.createSpotForm{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    box-shadow: 0 0 2px 2px lightcoral;
    width: 25rem;
}
.createSpotForm label{
    margin-left: auto;
    padding-top: 5px;
    top: 0px;
    margin-right: auto;
    font-weight: bold;
}
.createSpotForm textarea{
    justify-content: center;
    display: flex;
    width: 20rem;
    height: 4rem;
    resize: none;
}
.createSpotForm textarea:focus{
    outline-width: 0;
}
.createSpotForm input{
    justify-content: center;
    display: flex;
    width: 20rem;
    height: 25px
}
.createSpotForm input:focus{
    outline-width: 0;
}
.hostButton{
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
    border: 1px lightgray solid;
    height: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}
.hostButton:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}
