.homeBar{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: white;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px lightgrey solid;
    width: 100%;
}

.homeLogo{

    font-size: 2rem;
    padding-left: 5%;
}
.homeLogo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FF5A5F;
}

.logoTitle{
    font-size: smaller;
    padding-left: 10px;
}

.loggedInNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signlogbuttons{
    width: 20%;
    right: 5%;
    /* position: absolute; */
    /* padding-right: 5%; */
}

.standardNav{
    display: flex;
}
.loginModalWrapper{
    margin-right: 10px;
}

.demoButtonWrapper{
    margin-right:10px ;
}


/* search */
.searchForm{
    box-shadow: none;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    width: 25rem;
    padding-left: 5px;
}
.searchForm button{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1px;
    /* padding-top: auto;
    padding-bottom: auto; */
    border: none;
    height: 2.5rem;
}
.searchForm button:hover{
    cursor: pointer;
}
.searchForm button i{
    color: lightgray;
}
.searchForm button i:hover{
    color:black
}
.searchField{
    /* width: 25rem; */
    height: 3rem;
    font-size: 1.5rem;
    /* border: 1px solid lightgray; */
    border: none;
    border-radius: 20px;
    /* line-height: normal; */
}
.searchField::placeholder{
    padding-left: 5px;
    font-size: 1.25rem;
    /* line-height: normal; */
}
.searchField:focus{
    /* height: 2rem; */
    outline-width: 0;
    /* border: 1px solid black; */
}
