.homeBar{
    position: sticky;
    top: 0px;
    display: flex;
    background-color: white;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    height: 80px;
    border-bottom: 1px lightgrey solid;
    width: 100%;
    z-index: 1;
}

.homeLogo{
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding-left: 5%;
}
.homeLogo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FF5A5F;
}

.logoTitle{
    font-size: smaller;
    padding-left: 10px;
}

.loggedInNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signlogbuttons{
    width: 20%;
    right: 5%;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    /* padding-right: 5%; */
}

.standardNav{
    display: flex;
}
.loginModalWrapper{
    margin-right: 10px;
}

.demoButtonWrapper{
    margin-right:10px ;
}


/* search */
.searchAndDrop{
    position: relative;
    display: inline-block;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;

}
.searchForm{
    position: relative;
    /* bottom: 2px; */
    /* left: 10px; */
    /* right: -222px; */
    box-shadow: none;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    border: 1px solid lightgray;
    width: 25rem;
    padding-left: 5px;
    margin-top: 0;
    margin-left: 0;
}
.searchForm button{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1px;
    /* padding-top: auto;
    padding-bottom: auto; */
    border: none;
    height: 2.5rem;
}
.searchForm button:hover{
    cursor: pointer;
}
.searchForm button i{
    color: lightgray;
}
.searchForm button i:hover{
    color:black
}
.searchField{
    width:23rem;
    height: 3rem;
    font-size: 1.5rem;
    /* border: 1px solid lightgray; */
    border: none;
    border-radius: 20px;
    /* line-height: normal; */
}
.searchField::placeholder{
    padding-left: 5px;
    font-size: 1.25rem;
    /* line-height: normal; */
}
.searchField:focus{
    /* height: 2rem; */
    outline-width: 0;
    /* border: 1px solid black; */
}

/* dropdown */
.dropDownSearch{
    border: 1px solid lightgray;
    box-shadow: 0 0 1px 1px lightgray;
    position: absolute;
    top: 80px;
    left: 28rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    width:25rem;
    z-index: 2;
    padding: 10px;
}
.dropItem{
    color: black;
    /* background-color: white; */
    font-size: 1.2rem;
    /* padding: 10px; */
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2px;
    /* position: absolute; */
    z-index: 2;
}
.dropItem:last-child{
    border: none;
}
.dropItem:hover{
    cursor: pointer;
    background-color: lightgray;
}


#addMarginRight{
    margin-right: 10px;
}
