.buttonFace{
    width: 50px;
    height: 40px;
    border: 1px lightgray solid;
    border-radius: 5px;
    font-size: 30px;
    background-color: white;
}

.buttonFace:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}

.profile-dropdown{
    list-style: none;
    width: 15rem;
    border: 1px solid black;
    position: absolute;
    margin-top: 150px;
    background-color: white;
    border-radius: 5px;
    padding-left: 0px;
    right: 1rem;
    font-size: 20px;
    height: fit-content;
}
#addTopBorder{
    border-top: 1px lightgray solid;
}
.logOutButton{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid black;
}
.logOutButton:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}
