.loginModalButton{
    border: 1px lightgray solid;
    background-color: white;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.loginModalButton:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px lightcoral;
}
